<div class="footer">
    <div class="pull-right">
        Universal Access
    </div>
    <div>
        <strong>Copyright</strong> Bogazici University CMPE Department &copy; 2016
    </div>
</div>
