<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header row middle">
              <a href="/violations/new">
                <button type="button" class="btn btn-primary btn-rounded btn-block"><b> Report a Violation</b></button>
              </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <% if user_signed_in? %>
              <li>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  
              </li>
            <% else %>
              <li>
                <%= link_to('Login', new_user_session_path) %>
              </li>
              <li>
                <%= link_to('Register', new_user_registration_path) %>
              </li>
            <% end %>
            
        </ul>
    </nav>
</div>