<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'views/common/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'views/common/topnavbar.html'"></div>

        <div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        

        <h2><b>Create Report</b></h2>
        <p>Create violation report</p>


        <form class="m-t" role="form" >
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Title of violation" required="" name="title">
            </div>

            

        <div class="form-group"> 
           <label class="control-label">Violation Type</label>

                <div class="col-sm-20">
                    <select class="form-control m-b" name="type">
                        <option value="option 1">visually impaired
                           
                        </option>

                        <option value="option 2">walking disabled</option>
                        <option value="option 3">hearing impaired</option>

                </select>

                               
                 </div>
            </div>

            <div class="form-group">
                <label class="control-label">Description</label>
            
                <textarea name="description" rows="5" cols="35" placeholder="Enter the details about your violation report..."></textarea>
                
            </div>

           



                <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
            
            <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>

        </form>
        
    </div>
</div>

<div class="footer">
    <div>
        <strong>Copyright</strong> Universal Access &copy; 2015
    </div>
</div>


    </div>


</div>
