<div ng-include='"views/common/content.html"'></div>

<div class="container">
<div class="row">
    <div class="col-md-8" center-text>
        <img class="img-responsive img-rounded" src="img/poster.png" alt="900x350">
    </div>

    <!-- /.col-md-8 -->
    <div class="col-md-4">
        <h1><p style="font-size:60px">UNIVERSAL ACCESS</h1>
        <style>
        h2 {
            color:#BAF8CB;
            font-family:verdana;
            font-size:30px;
        }
            </style>
        <h2><b><em>Road To Raising Awareness</em></b></h2>
        <p>Report violations neighborhood, follow them and be sure that everywhere is accessible for everyone...</p>
        <a class="btn btn-danger btn-lg" ui-sref="notify">Notify Violation!</a>
    </div>
    <!-- /.col-md-4 -->
</div>
</div>


<div class="section">

    <div class="container">
        <div class="ibox-float-e-margins">
             <div class="ibox-content">
        <ul>
            <li style="list-style-type: none">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-align-left">
                        
                        <h1>Ramp Problem</h1>
                        <p><b>As an impaired person, my whole life goes like this... Please help us to raise our voice.</b></p>
                        <a class="btn btn-primary" ui-sref="viewVio">More Info</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-align-right">
                        <img class="img-responsive" src="img/vio1.jpg">
                    </div>
                </div>
            </li>

        </div>
        </div>
                </div>

</div> 

<div class="section">

    <div class="container">
        <div class="ibox-float-e-margins">
             <div class="ibox-content">
            
            <li style="list-style-type: none">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-align-right">
                        <img class="img-responsive" src="img/vio2.jpg">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-align-left">
                        
                        <h1>I have a dream...</h1>
                        <p><b>Everyday people use underground or metrobus to transport faster, except us...</b></p>
                        <a class="btn btn-primary" ui-sref="viewVio">More Info</a>
                    </div>
                </div>
            </li>
</div>
                </div>
            </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->



<!-- /.section -->




  




<!-- /.container -->
