<div ng-include='"views/common/content.html"'></div>

<div class="container">
<div class="row">
    <div class="col-md-8" center-text>
        <img class="img-responsive img-rounded" src="img/poster.png" alt="900x350">
    </div>

    <!-- /.col-md-8 -->
    <div class="col-md-4">
        <h1><p style="font-size:60px">UNIVERSAL ACCESS</h1>
        <style>
        h2 {
            color:#BAF8CB;
            font-family:verdana;
            font-size:30px;
        }
            </style>
        <h2><b><em>Road To Raising Awareness</em></b></h2>
        <p>Report violations neighborhood, follow them and be sure that everywhere is accessible for everyone...</p>
        <a class="btn btn-danger btn-lg" ui-sref="notify">Notify Violation!</a>
    </div>
    <!-- /.col-md-4 -->
</div>
</div>


<div class="section">

    <div class="container">

        <ul>
            <li style="list-style-type: none">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-align-left">
                        <h2>Ramp Problem</h2>
                        <p><b>As an impaired person, my whole life goes like this... Please help us to raise our voice.</b></p>
                        <a class="btn btn-white" ui-sref="viewVio">More Info</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-align-right">
                        <img class="img-responsive" src="img/vio1.jpg">
                    </div>
                </div>
            </li>
            <br>
            <li style="list-style-type: none">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-align-right">
                        <img class="img-responsive" src="img/vio2.jpg">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-align-left">
                        <h2>I have a dream...</h2>
                        <p><b>Everyday people use underground or metrobus to transport faster, except us...</b></p>
                        <a class="btn btn-white" ui-sref="viewVio">More Info</a>
                    </div>
                </div>
            </li>
            <br>
            <li style="list-style-type: none">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-align-left">
                        <h2>Pole on the yellow line</h2>
                        <p><b>Which sould be on the yellow line? A pole or me!!!</b></p>
                        <a class="btn btn-white" ui-sref="viewVio">More Info</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-align-right">
                        <img class="img-responsive" src="img/vio3.jpg">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<!-- /.section -->




  




<!-- /.container -->
