<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'views/common/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'views/common/topnavbar.html'"></div>

  

    <div class="wrapper wrapper-content animated fadeInRight">
      

        <h1><p style="font-size:60px">UNIVERSAL ACCESS</h1>
        <style>
        h2 {
        color:#BAF8CB;
        font-family:verdana;
        font-size:30px;
            }
        </style>

        <h2><b><em>Road To Raising Awareness</em></b></h2>
  
        
    <!-- /.col-md-4 -->

    </div>

        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">

                    <div class="ibox product-desc">
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-md-5">

                                    <div>
                                        <div class="image">
                                            <img class="img-responsive" src="img/vio1.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">

                                    <h2 class="font-bold m-b-xs"><a ui-sref="viewVio">
                                        Ramp Problem
                                        </a>
                                    </h2>
                                    <br>
                                    <h4>Violence Description</h4>

                                    <div class="small text-muted">
                                        As an impaired person, my whole life goes like this... Please help us to raise our voice.

                                        <br/>
                                        <br/>

                                    </div>

                                    <hr>

                                    <div class="col-lg-6 col-sm-6 col-xs-6 col-align-left">
                                        <a class="btn btn-white" ui-sref="viewVio">More Info</a>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">

                    <div class="ibox product-detail">
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-md-5">

                                    <div>
                                        <div class="image">
                                            <img class="img-responsive" src="img/vio2.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">

                                    <h2 class="font-bold m-b-xs"><a ui-sref="viewVio">
                                        I have a dream...
                                    </a>
                                    </h2>

                                    <br>
                                    <h4>Violence Description</h4>

                                    <div class="small text-muted">
                                        Everyday people use underground or metrobus to transport faster, except us...

                                        <br/>
                                        <br/>

                                    </div>

                                    <hr>

                                    <div class="col-lg-6 col-sm-6 col-xs-6 col-align-left">
                                        <a class="btn btn-white" ui-sref="viewVio">More Info</a>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

    <div class="footer">
        <div>
            <strong>Copyright</strong> Universal Access &copy; 2015
        </div>
    </div>


</div>
</div>
